.swiper-button-prev {
  margin-left: 20px;
}
.swiper-button-next {
  margin-right: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffba08;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: 1;
  background-color: #999999;
}

.swiper-pagination-bullet-active {
  background-color: #ffba08;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-right: 12px;
}
